.container {
    // brekpoint
    // mobile - 480 px
    // tablet - 768 px
    // desktop - 1200 px


    // mobile
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    // outline: 2px solid red;

    // tablet
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    // desktop
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}