<section class="section section-contacts" id="contacts">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <ul class="contact-list">
      <li class="contact-list__item">
        <p class="contact-list__name">CAFE</p>
        <p class="contact-list__location">Chicago</p>
        <a
          class="contact-list__location-link"
          href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034056,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
          target="_blank"
          rel="noopener noreferrer"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact-list__item">
        <p class="contact-list__name contact-list__name-second">FOODTRUCK</p>
        <p class="contact-list__location">Los Angeles</p>
        <a
          class="contact-list__location-link"
          href="https://www.google.com/maps/search/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90263,+USA/@33.8849147,-118.4078111,16z/data=!3m1!4b1"
          target="_blank"
          rel="noopener noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact-list__item">
        <p class="contact-list__name">CAFE</p>
        <p class="contact-list__location">New York</p>
        <a
          class="contact-list__location-link"
          href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+USA/@40.6726978,-73.956928,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
          target="_blank"
          rel="noopener noreferrer"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts-buttons">
      <button type="button" class="button-location" data-modal-locations-open>
        Our Locations
      </button>
      <button type="button" class="button-franchise" data-modal-franchise-open>
        Franchise
      </button>
    </div>
  </div>
</section>
