<div class="section-customers">
  <div class="customers container single-item">
    <div>
      <picture>
        <source
          srcset="
            ./images/slider/slider-photo1@1x.png 1x,
            ./images/slider/slider-photo1@2x.png 2x
          "
        />
        <img
          class="customers__img"
          src="./images/slider/slider-photo1@1x.png"
          alt="photo-client"
        />
      </picture>
      <p class="customers__comment">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>

      <p class="customers__name">Emily, Los Angeles</p>
    </div>

    <div>
      <picture>
        <source
          srcset="
            ./images/slider/slider-photo2@1x.png 1x,
            ./images/slider/slider-photo2@2x.png 2x
          "
        />
        <img
          class="customers__img"
          src="./images/slider/slider-photo2@1x.png"
          alt="photo-client"
        />
      </picture>
      <p class="customers__comment">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
      <p class="customers__name">Sam, Los Angeles</p>
    </div>

    <div>
      <picture>
        <source
          srcset="
            ./images/slider/slider-photo3@1x.png 1x,
            ./images/slider/slider-photo3@2x.png 2x
          "
        />
        <img
          class="customers__img"
          src="./images/slider/slider-photo3@1x.png"
          alt="photo-client"
        />
      </picture>
      <p class="customers__comment">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="customers__name">Diana, Chicago</p>
    </div>

    <div>
      <picture>
        <source
          srcset="
            ./images/slider/slider-photo4@1x.png 1x,
            ./images/slider/slider-photo4@2x.png 2x
          "
        />
        <img
          class="customers__img"
          src="./images/slider/slider-photo4@1x.png"
          alt="photo-client"
        />
      </picture>
      <p class="customers__comment">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="customers__name">Bryan, New-York</p>
    </div>
  </div>
</div>
