<section class="section">
    <div class="container">
        <div class="autoplay">
            <div>
                <img src="./images/gallery/gallery1-desc@1x.jpg" alt="">
            </div>
            <div>
                <img src="./images/gallery/gallery2-desc@1x.jpg" alt="">
            </div>
            <div>
                <img src="./images/gallery/gallery3-desc@1x.jpg" alt="">
            </div>
            <div>
                <img src="./images/gallery/gallery1-desc@1x.jpg" alt="">
            </div>
            <div>
                <img src="./images/gallery/gallery2-desc@1x.jpg" alt="">
            </div>
            <div>
                <img src="./images/gallery/gallery3-desc@1x.jpg" alt="">
            </div>
        </div>


        <p class="test">gallery</p>
    </div>
</section>