<section class="section slider__bg">
    <div class="container">
        <div class="autoplay">
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-01desc@1x.jpg" alt="">
            </div>
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-03desc@1x.jpg" alt="">
            </div>
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-04desc@1x.jpg" alt="">
            </div>
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-09desc@1x.jpg" alt="">
            </div>
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-10desc@1x.jpg" alt="">
            </div>
            <div class="slider__item">
                <img class="slider__img" src="./images/gallery/gallery_ice-12desc@1x.jpg" alt="">
            </div>
        </div>
    </div>
</section>