<div class="locations-backdrop is-locations-hidden" data-modal-locations>
  <div class="modal-locations">
    <button
      class="modal-locations__btn"
      type="button"
      data-modal-locations-close
    >
      <svg class="modal-locations__icon" width="16" height="16">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>
    <form class="locations" name="locations">
      <strong class="locations__title">Our Locations</strong>

      <iframe
        class="locations__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82742.82352538386!2d34.4999037!3d49.603157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1666289950396!5m2!1suk!2sua"
        width="224"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <a
        class="locations__btn link"
        href="https://goo.gl/maps/TeHQ4kAZX17jCQueA"
        aria-label="button to go to the map"
        target="_blank"
        rel="noopener noreferrer"
        >Open map</a
      >
    </form>
  </div>
</div>
