<div class="header-form__backdrop isheader-hidden" data-modal-header>
  <div class="modal-header">
    <button
      class="modal-header__btn-close"
      type="button"
      data-modal-header-close
    >
      <svg class="modal-header__icon-close" width="20" height="20">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <h2 class="modal-header__title">Buy now</h2>

    <ul class="by-products-list list">
      <li class="by-products-list__item">
        <div class="by-cream-thumb"></div>
        <div class="by-decor-thumb">
          <h3 class="by-products-list__title">icecream</h3>
        </div>
      </li>
      <li class="by-products-list__item">
        <div class="by-cream-thumb"></div>
        <div class="by-decor-thumb">
          <h3 class="by-products-list__title">icecream</h3>
        </div>
      </li>
      <li class="by-products-list__item">
        <div class="by-cream-thumb"></div>
        <div class="by-decor-thumb">
          <h3 class="by-products-list__title">icecream</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
