<section class="section-products" id="products">
  <div class="container">
    <div class="headline-thumb">
      <p class="headline-thumb__text">100% natural</p>
      <h2 class="headline-thumb__title">products</h2>
    </div>
    <ul class="products-list list">
      <li class="products-list__item">
        <div class="cream-thumb"></div>
        <div class="decor-thumb">
          <h3 class="products-list__title">ice cream</h3>
        </div>
        <p class="products-list__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>

        <button type="button" class="products-btn" data-modal-open>
          <svg class="products-btn__icon">
            <use href="./images/icons.svg#icon-arrow-default"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item">
        <div class="coffee-thumb"></div>
        <div class="decor-thumb">
          <h3 class="products-list__title">ice coffee</h3>
        </div>
        <p class="products-list__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button type="button" class="products-btn" data-modal-open>
          <svg class="products-btn__icon">
            <use href="./images/icons.svg#icon-arrow-default"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item">
        <div class="milkshakes-thumb"></div>
        <div class="decor-thumb">
          <h3 class="products-list__title">milkshakes</h3>
        </div>
        <p class="products-list__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button type="button" class="products-btn" data-modal-open>
          <svg class="products-btn__icon">
            <use href="./images/icons.svg#icon-arrow-default"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
