.button {
  @extend %primary-button;
  text-align: center;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop-color);
  z-index: 6;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(0.3);
  }
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // min-width: 480px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
   transform: translate(-50%, -50%) scale(1);
  transition-duration: 1s;
  z-index: 2;
  background: var(--light-bg-color);
  border: 2px solid var(--yellow-bg-color);
  border-radius: 10px;


  @media screen and (min-width: 768px) {
    width: 528px;
   }


  // @media screen and (min-width: 768px) {
  //  min-width: 480px;
  // }

  // @media screen and (min-width: 1199px) {
  //  width: 528px;
  // }
}

.container-modal{
  padding: 28px;
  @media screen and (min-width: 768px) {

    padding: 32px 60px;
    }

}
.about_modal_title{
  font-family: var(--title-font);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
align-items: center;
text-align: center;
color:var(--main-text-color);
margin-bottom: 20px;

@media screen and (min-width: 768px) {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
    }

}

.about_modal_txt {
  font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: var(--main-text-color);

@media screen and (min-width: 480px) {
font-size: 16px;
line-height: 140%;
  }
}

.about_modal_video {
  display: flex;
background: var(--main-text-color);
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom:  20px;
@media screen and (min-width: 480px) {
width: 450px;
}

@media screen and (min-width: 768px) {
 width: 100%;
 margin-bottom: 32px;
  }
}




.modal-cross {

  position: absolute;
  right: 0;
  color: var(--main-text-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color:transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 8px 0 0;
  z-index: 100;
  transition: fill 250ms var(--button-timing-function);
  // outline: none;
  & svg:hover,
  & svg:focus {
    fill: var(--button-hover-focus-border-bg-color);
  }
}

