.franchise-backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: var(--bg-backdrop-color);

  transition: visibility 250ms, opacity 250ms;
}

.franchise-backdrop.is-franchise-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  .modal-franchise {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform var(--anim), scale var(--anim);
  }
}

.modal-franchise {
  position: absolute;

  width: 280px;
  max-height: 100%;
  padding: 26px;
  overflow-y: auto;
  z-index: 1000;

  background-color: var(--light-bg-color);
  border: 2px solid var(--yellow-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anim), scale var(--anim);

  @media screen and (min-width: 321px) and (max-width: 479.5px) {
    width: 90%;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 30px 58px;
  }

  &__btn {
    position: absolute;

    display: flex;

    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    padding: 0;
    align-items: center;
    justify-content: center;

    background-color: var(--white-bg-color);
    border: none;
    cursor: pointer;
    transition: fill var(--anim);

    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:focus {
      fill: var(--green-bg-color);
    }
  }
}

.modal-franchise.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.franchise__title {
  display: block;

  margin-bottom: 22px;
  text-align: center;

  font-family: var(--title-font);
  font-weight: 400;
  line-height: calc(24 / 16);

  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    width: 322px;
    margin: 0 auto 24px;

    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.franchise__text {
  display: block;

  margin-bottom: 22px;

  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);

  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: calc(22 / 16);
  }
}

.franchise__form {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.franchise-form__lable {
  display: flex;

  flex-direction: column;

  transition: border-color var(--anim);

  &:not(:last-child) {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  & ::placeholder {
    font-size: 12px;
    line-height: calc(17 / 12);

    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
}

.franchise-form__input {
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 7px 11px 6px;

  line-height: calc(17 / 12);

  background-color: var(--background-input-color);
  border: 1px solid var(--green-bg-color);

  border-radius: 10px;
  outline: transparent;

  transition: border-color var(--anim);

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    margin: 0 auto;
    padding: 10px 15px;
  }

  .franchise-form__lable:focus-within &,
  .franchise-form__lable:hover & {
    border-color: 1px solid var(--button-hover-focus-border-bg-color);
  }
}

.franchise-form__textarea {
  height: 64px;

  font-size: 12px;
  line-height: calc(17 / 12);

  margin: 0;
  padding: 7px 11px;

  resize: none;

  background-color: var(--background-input-color);
  border: 1px solid var(--green-bg-color);

  border-radius: 10px;
  outline: transparent;

  transition: border-color var(--anim);

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    margin: 0 auto;
    padding: 10px 15px;

    font-size: 14px;
    line-height: calc(20 / 14);
  }

  .franchise-form__lable:focus-within &,
  .franchise-form__lable:hover & {
    border-color: 1px solid var(--button-hover-focus-border-bg-color);
  }
}

.franchise-form__btn {
  @extend %primary-button;
  width: 114px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 121px;
  }
}
