.section-products {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url(../images/bacgrounds/bg-mb@x1.jpg);
    margin: 0 auto;
    background-size: 480px 650px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bacgrounds/bg-mb@x2.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url(../images/bacgrounds/bg-tab@1x.jpg);
    margin: 0 auto;
    background-size: 768px 860px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bacgrounds/bg-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-size: 1200px 1050px;
    background-image: url(../images/bacgrounds/bg-ds@x1.jpg);
    margin: 0 auto;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bacgrounds/bg-ds@x2.jpg);
    }
  }
}

.products-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: var(--main-text-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;
  }
}

.products-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-top: 12px;
  margin-bottom: 148px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    margin-bottom: 200px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 303px;
  }
}

// СПИСОК

.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
}

.products-list__item {
  position: relative;
  width: 280px;

  background: var(--light-green-bg-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 85px;
  }

  @media screen and (min-width: 768px) {
    width: 224px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    padding-bottom: 130px;
  }

  &:nth-child(2) {
    background: var(--light-yellow-bg-color);
    @media screen and (max-width: 767px) {
      margin-top: 164px;
    }
  }
  &:last-child {
    background: var(--ginger-text-color);
    @media screen and (max-width: 767px) {
      margin-top: 164px;
    }
  }
}

.cream-thumb {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  left: 14%;
  top: -25%;

  transition-property: top;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 3.5%;
    top: -25%;
    width: 199px;
    height: 197px;
  }

  @media screen and (min-width: 1200px) {
    width: 301px;
    height: 300px;
    left: 9.5%;
    top: -31.5%;
  }

  &::before {
    content: '';

    position: absolute;
    background-size: contain;
    background-image: url(../images/products/ice-cream-mob@1x.webp);
    background-size: 200px 200px;
    top: -17px;
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1199px) {
      top: -11px;
    }

    @media screen and (max-width: 767px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-mob@2x.webp);
    }

    @media screen and (min-width: 768px) {
      width: 199px;
      height: 197px;
      background-size: 199px 197px;
      background-image: url(../images/products/ice-cream-tab@1x.webp);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-tab@@2x.webp);
    }

    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-size: 301px 300px;
      background-image: url(../images/products/ice-cream-desc@1x.webp);
    }

    @media screen and (min-width: 1200px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-desc@2x.webp);
    }
  }
}

.coffee-thumb {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

  left: 14%;
  top: -22%;

  transition-property: top;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 3.5%;
    top: -25%;
    width: 199px;
    height: 197px;
  }

  @media screen and (min-width: 1200px) {
    width: 301px;
    height: 300px;
    left: 9.5%;
    top: -31.5%;
  }

  &::before {
    content: '';
    position: absolute;
    background-size: contain;
    background-image: url(../images/products/ice-coffee-mob@1x.webp);
    background-size: 200px 200px;
    top: -17px;
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1199px) {
      top: -11px;
    }

    @media screen and (max-width: 767px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee-mob@2x.webp);
    }

    @media screen and (min-width: 768px) {
      width: 199px;
      height: 197px;
      background-size: 199px 197px;
      background-image: url(../images/products/ice-coffee-tab@1x.webp);
    }

    @media screen and (min-width: 768px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee-tab@2x.webp);
    }

    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-size: 301px 300px;
      background-image: url(../images/products/ice-coffee-desc@1x.webp);
    }

    @media screen and (min-width: 1200px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee-desc@2x.webp);
    }
  }
}

.milkshakes-thumb {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  left: 14%;
  top: -22%;
  transition-property: top;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 3.5%;
    top: -25%;
    width: 199px;
    height: 197px;
  }

  @media screen and (min-width: 1200px) {
    width: 301px;
    height: 300px;
    left: 9.5%;
    top: -31.5%;
  }

  &::before {
    content: '';
    position: absolute;
    background-size: contain;
    background-image: url(../images/products/milkshake-mob@1x.webp);
    background-size: 200px 200px;
    top: -17px;
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1199px) {
      top: -11px;
    }

    @media screen and (max-width: 767px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshake-mob@2x.webp);
    }

    @media screen and (min-width: 768px) {
      width: 199px;
      height: 197px;
      background-size: 199px 197px;
      background-image: url(../images/products/milkshake-tab@1x.webp);
    }

    @media screen and (min-width: 768px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshake-tab@2x.webp);
    }

    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-size: 301px 300px;
      background-image: url(../images/products/milkshake-desc@1x.webp);
    }

    @media screen and (min-width: 1200px),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshake-desc@2x.webp);
    }
  }
}

.products-list__title {
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    margin-top: 123px;
    display: inline-block;
    width: 174px;
    margin-left: 53px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 107px;
    font-size: 22px;
    line-height: calc(27 / 20);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-top: 166px;
  }
}

.products-list__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(28 / 16);
  text-align: center;

  letter-spacing: 0.04em;
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    margin-top: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 40px;
    width: 172px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(28 / 16);
    margin: 65px 64px 0 64px;
    height: 150px;
  }
}

.products-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: inherit;
  cursor: pointer;
  border: none;

  @media screen and (max-width: 1199px) {
    position: absolute;
    left: 40%;
    bottom: 0%;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 44%;
    bottom: 5%;
  }
}

.products-btn__icon {
  width: 40px;
  height: 40px;
  transition-property: transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.products-btn:hover > .products-btn__icon,
.products-btn:focus > .products-btn__icon {
  transform: rotate(-90deg);
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .cream-thumb,
  .products-btn:hover ~ .cream-thumb {
    top: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .coffee-thumb,
  .products-btn:hover ~ .coffee-thumb {
    top: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .milkshakes-thumb,
  .products-btn:hover ~ .milkshakes-thumb {
    top: 25%;
  }
}

.products-list__decortext {
  position: absolute;
  top: 0%;
  left: 20%;
  opacity: 0;
  transition-property: top opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(37 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.cream-thumb ~ .products-list__decortext {
  left: 24.5%;
}

.coffee-thumb ~ .products-list__decortext {
  left: 23%;
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .cream-thumb ~ .products-list__decortext,
  .products-btn:hover ~ .cream-thumb ~ .products-list__decortext {
    opacity: 1;
    top: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .coffee-thumb ~ .products-list__decortext,
  .products-btn:hover ~ .coffee-thumb ~ .products-list__decortext {
    opacity: 1;
    top: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .products-btn:focus ~ .milkshakes-thumb ~ .products-list__decortext,
  .products-btn:hover ~ .milkshakes-thumb ~ .products-list__decortext {
    opacity: 1;
    top: 10%;
  }
}

// Прокрутка

.scroll-btn {
  position: fixed;
  bottom: 2%;
  right: 1.5%;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  transform: rotate(180deg);
  background-color: inherit;
  cursor: pointer;
  z-index: 1000;
  fill: var(--yellow-bg-color);
}

.scroll-btn__icon-arrow {
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
}
